/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input {
    border: 1px solid black;
    padding: 1px;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
.welcome_text
{
    text-align: center;
}
#container {
    display: flex;
    height: 100vh;
}

#menu {
    background-color: #FFBC40;
    color: #fff;
    padding: 20px;
    width: 260px;
    margin: auto;
    height: 790px;
}

#menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#content {
    flex-grow: 1;
    padding: 20px;
}

h1 {
    font-family: 'Arial Black', Arial, sans-serif;
    color: #29477F;
    font-size: 48px;
}
h2 {
    font-family: 'Arial Black', Arial, sans-serif;
    color: #29477F;
    font-size: 38px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}



th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4577D4;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #EEEEEE;
    color: #4577D4;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-button {
    background-color: #4577D4;
    color: #fff;
    padding: 8px 16px;
    border-radius: 7px;
    text-decoration: none;
}

.add-button:hover {
    background-color: #29477F;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 500px;
    overflow: visible;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
body.modal-open {
    overflow: hidden;
}

.header_text{
    margin: 0 0 40px 0;
}
/*стили для бургер меню*/
.menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right:0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu-btn{
    margin: 30px 40px 0 0;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu-btn > span::before {
    content: '';
    top: -8px;
}
.menu-btn > span::after {
    content: '';
    top: 8px;
}

.menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #6B90D4;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu-item:hover {
    background-color: #CFD8DC;
}
#menu-toggle{
    opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
}
.menubox_ref {
    font-size: 18px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #EEEEEE;
    margin: 10px 0 0 0;
}
.menubox_ref:hover {
    background-size: 100% 2px;
}
.menubox li {
    margin: 0 0 30px 0;
    /*text-align: center;*/
}

input {
    border: 2px solid black !important;
    padding: 5px !important;
    border-color: black;
    border: black;
}
